body {
    display: flex;
    flex-direction: column;
    background-color: #F5F0DD;
    margin: 0;
    overflow: hidden;
}

#bodycontent {
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
}
  
#navbar {
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: space-between;
    background-color: #C13D4C;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 4%;
    padding-right: 4%;
}
  
#navigation {
    display: flex;
    width: 40%;
    align-items: center;
    height: auto;
    justify-content: flex-end;
}

svg {
    display: flex;
    align-self: stretch;
    height: auto;
    width: auto;
    z-index: 3;
}
  
#navigation a {
    font-size: 20px;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 2%;
    margin-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    color: #F5F0DD;
    text-decoration: none;
}
  
#navigation a.active {
    color: #343345;
    background-color: #F5F0DD;
    border-radius: 10px;
    justify-content: flex-end;
    align-items: center;
}
  
#navigation a:hover:not(.active) {
    display: flex;
    background-color: #DA5C6A;
    border-radius: 10px;
}
  
h1 {
    font-family: 'Roboto Serif', serif;
    font-size: 56px;
    font-weight: 600;
    text-wrap: nowrap;
}
  
h2 {
    font-family: 'Roboto Serif', serif;
    font-size: 36px;
    font-weight: 600;
    text-wrap: nowrap;
}
  
h3 {
    font-family: 'Sora', sans-serif;
    font-size: 24px;
    font-weight: 400;
}
  
h4 {
    font-family: 'Sora', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

p {
    font-family: 'Sora', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a p {
    color: #C13D4C;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #C13D4C;
    text-decoration-thickness: 2px;
}

.wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
  
.box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
  
.hid-box {
    display: flex;
    flex-direction: row;
    position: relative;
    flex: 1 0 100%;
    align-items: center;
    height: 56px;
    overflow: auto;
    opacity: 0;
    transform: translateX(-40%);
    transition: 1s ease;
    margin-left: 1em;
    font-family: 'Sora', sans-serif;
    color: #F5F0DD;
    font-size: 24px;
}
  
.box:hover ~ .hid-box, .hid-box:hover {
    transform: translateX(-5%);
    opacity: 1;
}

#logoWrap {
    padding-top: 9px;
    z-index: 2;
}
  
#ball {
    position: absolute;
    transform: translateX(2px) translateY(-6px);
}
  
#ball:hover {
    animation: bounce 0.75s linear infinite;
    cursor: pointer;
}

@-webkit-keyframes bounce {
    0% {
      transform: translateX(2px) translateY(-7px);
    }
    25% {
      transform: translateX(2px) translateY(-8px);
    }
    75% {
      transform: translateX(2px) translateY(-9px);
    }
    99% {
      transform: translateX(2px) translateY(-4px);
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #C13D4C;
    width: 100%;
    height: 73px;
    border-radius: 48px;
    padding: 24px 16px;
    color: #C13D4C;
}

.subtitle {
    display: flex;
    z-index: 2;
    background-color: #EE9F9A;
    justify-content: center;
    align-items: center;
    transform: translateY(-30%);
    height: 62px;
    padding: 0px 48px;
    color: #F5F0DD;
    border-radius: 24px;
    text-wrap: nowrap;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 45%;
}

#contentrow {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

#portrait {
    border-radius: 20px;
    width: 50%;
    height: 60%;
    aspect-ratio: 2 / 3;
    padding: 4px;
    border-style: dashed;
    border-color: #C13D4C;
}

@media screen and (max-width: 1000px) {
    h1 {
      font-size: 36px;
    }

    .title {
        height: 56px;
        border-radius: 36px;
        padding: 4px 24px;
    }

    .subtitle {
        height: 48px;
        border-radius: 24px;
        transform: translateY(-24%);
    }

    .title h1 {
        font-size: px;
    }
  
    h3 {
      font-size: 16px;
    }
  
    h4 {
      font-size: 16px;
    }
  
    #navigation a {
      font-size: 16px;
    }
  
    #navigation a.active {
      border-radius: 8px;
    }
}

@media screen and (max-width: 500px) {
   #bodycontent {
    margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
   }

    #navigation a {
      font-size: 16px;
    }
  
    #navigation a.active {
      border-radius: 8px;
    }

    #contentrow {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin: 0%;
    }

    #content {
        order: 2;
        width: 80%;
    }

    .title {
        width: 80%;
        justify-content: center;
    }

    #portrait {
        aspect-ratio: 1 / 1;
    }

    .hid-box {
        font-size: 16px;
    }
}
